* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffc3d7;
    width: 100%;
    height: 100vh;
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow: scroll;
   
}

.stats_container {
    width: 400px;
    margin-top: 60px; 
    display: flex;
    flex-direction: row;
    border-radius: 20px 0px;
    /* border-color: #5837dc; */
    background-color: #5837dc;
    /* border-width: 3px; */
    /* border-style: solid; */
    align-items: center;
    justify-content: space-around;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entertask {
    margin-top: 20px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
   
}


    .textplace {
        width: 350px;
        padding: 15px 8px;
        outline: none;
        overflow-wrap: break-word; 
        border-radius: 7px;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


.but {
    width: 50px;
    padding: 14px 8px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.but:hover{
    background-color: rgb(0, 183, 0);
}



.eee {
    background-color: #fff;
    border: none;
    padding: 5px; 
    cursor: pointer; 
    border-radius: 7px;
    transition: 0.3s ease;
    

   
}
.eee:hover{
background-color: red;
}
li {
    display: flex;
    border-radius: 3px;
    margin-top: 15px; 
    justify-content: space-around;
    align-items: center;
   
    width: 400px;
    background-color: #5837dc;
    overflow-wrap: break-word; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

span {
    flex-grow: 1; 
    overflow-wrap: break-word; 
 
    display: inline-block; 
    max-width: calc(100% - 140px);
}


.tickbutton{
   font-size: 20px;
   /* background-color: #5837dc; */
   color: white;
   background: none;
   border: none;
   margin-right: 15px;
   
   /* padding-right: 15px; */
   transition: 0.2s ease;
  /* margin-right: 20px; */
  cursor: pointer;

  
}

.tickbutton:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.3);
    
}
.editbutton{
    background-color: #fff;
    border: none;
    padding: 5px; 
    cursor: pointer; 
    border-radius: 7px;
    transition: 0.3s ease;
    margin-right: 15px;
    

}
.editbutton:hover{
    background-color: rgb(255, 165, 0);
    }

    